    <div class="home">
        <header>
            <div class="container">
                <div class="logo">ResumeRover.</div>
            </div>
        </header>
        <main>
            <div class="hero">
                <h1>Meet ResumeRover</h1>
                <h2>Your Personal Interview Practice Bot</h2>
                <p >Elevate interview readiness with ResumeRover<br>upload resume, get tailored questions, ace interviews confidently.<br>Boost skills, seize opportunities assuredly.
                </p>
                <input hidden type="file" #fileInput (change)="onFileSelected($event)" accept=".pdf" />
                <button mat-raised-button (click)="fileInput.click()" class="cta-button">Upload Resume
                    <mat-icon aria-hidden="false"  fontIcon="upload"></mat-icon>
                </button>
            </div>
        </main>
    </div>

